*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
}

html{
    scroll-behavior: smooth;
}




body{
    background-color: rgb(212, 196, 196);
}

.text_gian{
    margin-left: 370px;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}
.span_franco{
    color: rgb(87, 80, 80);
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}


.menu{
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;
    box-shadow: 0px 0px 12px rgb(124, 117, 117);
}


.menu_items{
    display: flex;
    margin-right: 20%;
    gap: 30px;
}

.menu_items li{
    list-style: none;
    margin: 11px 0px;
}

.menu_items li a{
    color: rgb(124, 117, 117);
    text-decoration: none;
    font-size: 19px;
}

.menu i{
    font-size: 36px;
    color: #fff;
    display: none;

}
#toggle-menu{
    display:none;
}

.hero{
    padding-top: 6rem;
    background: url(img/bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 3rem;
    padding-bottom: 477px;
    text-align: center;
}

.section-text-hero{
    padding-top:250px;
}

.title-small-hero{
    font-size: 22px;
    color: #fff;
}

.title-big-hero{
    font-size: 40px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-hero{
    width: auto;
    padding:12px;
    padding-left:16px;
    padding-right: 16px;
    background-color: #fff;
    border: none;
    color: rgb(75, 72, 72);
    font-size: 18px;
    cursor: pointer;
}

.sobre-mi{
    width: auto;
    background-color: rgb(252, 250, 250);
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-gray{
    text-align: center;
    color: rgb(124, 117, 117);
    font-size: 30px;
    padding-bottom: 55px;

}
.dark-title{
    color: rgb(46, 43, 43);
}

.img-sobre-mi{
    width: 330px;
    margin-left: 100px;

}

.container-info{
    display: flex;
    justify-content: center;

}

.text-sobre-mi{
    width: 500px;
    color: rgb(124, 117, 117);
    line-height: 25px;
    padding-bottom: 25px;
}

.container-text{
    padding-left: 20px;

}

.subtitle-sobre-mi{
    padding-top: 40px;
    padding-bottom: 12px;
    color: rgb(46, 43, 43);
}

.button-sobre-mi{
    width: auto;
    padding:12px;
    padding-left:16px;
    padding-right: 16px;
    background-color: rgb(46, 43, 43);
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.separacion{
    margin-top: 50px;
    background-color: rgb(206, 197, 197);
    width: auto;
    height: 0.1px;
}
